body {
    margin: 0;
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header {
    background: #1e3d59;
    color: white;
    padding: 15px;
    position: sticky;
    top: 0;
}

nav a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}

.hero {
    background-image: url("images/grass_background.jpg");
    background-position: 0 0;
    padding: 60px;
    text-align: center;
    color:white;
}

section {
    padding: 40px;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
}

.card {
    background: #eaeaea;
    padding: 20px;
    text-align: center;
    border-radius: 8px;
}
.cards_1 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
}

.card_1{
    background: #eaeaea;
    padding: 20px;
    text-align: center;
    border-radius: 8px;
}

button {
    padding: 12px 20px;
    background: #1e3d59;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background: #163046;
}

footer {
    background: #222;
    color: white;
    text-align: center;
    padding: 15px;
}
